In [1]:
import numpy as np
import pandas as pd

a dictionary

In [9]:
data_dict = {
    'col_a' : [1, np.nan, 3, np.nan, np.nan, 5],
    'col_b' : ['a', 'b', 'c', np.nan, np.nan, 'd'],
    'col_c' : [1, None, 3, 4, np.nan, 5],
    'col_d' : [1.2, 2.2, 3.2, np.nan, np.nan, 5.]
}

create a dataframe from a dictionary

In [10]:
df = pd.DataFrame(data_dict)
df

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    NaN     b    NaN    2.2
2    3.0     c    3.0    3.2
3    NaN   NaN    4.0    NaN
4    NaN   NaN    NaN    NaN
5    5.0     d    5.0    5.0

cek apakah ada missing value ?

In [11]:
df.isna().sum()

col_a    3
col_b    2
col_c    2
col_d    2
dtype: int64

pada script berikut ini, kita lakukan proses replace column dengan missing value dengan nilai baris berikutnya yang tidak kosong. terlihat untuk baris-baris data yang kosong, akan diisi dengan nilai dari baris setelahnya. yang kita lakukan pada script di bawah ini, kita hanya melakukan preview saja. data df nya sendiri tidak berubah. jika anda ingin mengisi kolom dengan missing value dengan nilai dari kolom sebelumnya yang ada nilai, gunakan method='ffill'. anda juga bisa mengisi kolom dengan missing value dengan sebuah nilai scalar, atau bisa jg dari fungsi aggregate seperti mean, modus, median.

In [13]:
df.fillna(method='bfill')

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    3.0     b    3.0    2.2
2    3.0     c    3.0    3.2
3    5.0     d    4.0    5.0
4    5.0     d    5.0    5.0
5    5.0     d    5.0    5.0

jika kita cek kembali df, data yang ada tetap. yang NaN tetap.

In [14]:
df

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    NaN     b    NaN    2.2
2    3.0     c    3.0    3.2
3    NaN   NaN    4.0    NaN
4    NaN   NaN    NaN    NaN
5    5.0     d    5.0    5.0

bagaimana agar perubahan yang kita lakukan diterapkan ?

In [15]:
df_temp = df.copy()

cara 1. assign kembali ke df itu

In [17]:
df = df.fillna(method='bfill')
df

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    3.0     b    3.0    2.2
2    3.0     c    3.0    3.2
3    5.0     d    4.0    5.0
4    5.0     d    5.0    5.0
5    5.0     d    5.0    5.0

cara 2. gunakan parameter inplace=True

In [19]:
df = df_temp.copy()
df

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    NaN     b    NaN    2.2
2    3.0     c    3.0    3.2
3    NaN   NaN    4.0    NaN
4    NaN   NaN    NaN    NaN
5    5.0     d    5.0    5.0

In [20]:
df.fillna(method='bfill', inplace=True)
df

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    3.0     b    3.0    2.2
2    3.0     c    3.0    3.2
3    5.0     d    4.0    5.0
4    5.0     d    5.0    5.0
5    5.0     d    5.0    5.0

cek apakah benar-benar berubah ?

In [21]:
df

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    3.0     b    3.0    2.2
2    3.0     c    3.0    3.2
3    5.0     d    4.0    5.0
4    5.0     d    5.0    5.0
5    5.0     d    5.0    5.0

---

penggunaan parameter threshold pada fungsi dropna ?

In [24]:
df = df_temp.copy()
df

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    NaN     b    NaN    2.2
2    3.0     c    3.0    3.2
3    NaN   NaN    4.0    NaN
4    NaN   NaN    NaN    NaN
5    5.0     d    5.0    5.0

In [26]:
df.dropna(how='any', thresh=2)

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
1    NaN     b    NaN    2.2
2    3.0     c    3.0    3.2
5    5.0     d    5.0    5.0

pada script di atas, pada penggunaan parameter thresh, parameter ini akan menyeleksi jika sebuah baris data (default jika tidak ditulis parameter axis, default axis=0, yang artinya by rows) harus minimal memiliki kolom nilai yang tidak missing sebanyak nilai pada thresh agar dipertahankan. jika baris tersebut tidak memiliki nilai kolom dengan nilai sebanyak thresh, maka baris tersebut akan di drop. pada contoh di atas, baris dengan minimal ada 2 nilai ada pada baris dengan index 0, 1, 2, 5. baris-baris ini akan dipertahankan. sedangkan yang lain akan di drop.

bagaimana jika kita ganti nilai tresh menjadi 3 ? 
maka baris yang akan dipertahankan menjadi baris dengan index 0, 2, dan 5.

In [27]:
df.dropna(how='any', thresh=3)

   col_a col_b  col_c  col_d
0    1.0     a    1.0    1.2
2    3.0     c    3.0    3.2
5    5.0     d    5.0    5.0